@import "tailwindcss";

@layer base {
  html, body, #root {
    font-family: 'Manrope';
    width: 100%;
    height: 100%;
  }

  html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    background: #000;
    overflow-x: hidden;
  }
}

@layer navbar-and-footer {  
  .font-display {
    font-family: 'Manrope';
  }

  .nav-logo {
    @apply filter brightness-0 invert;
  }

.nav-link {
  @apply relative py-2 text-lg font-medium tracking-[0.2em]
    text-white/90 border border-transparent rounded-md
    transition-all duration-300 hover:text-white;
}

.nav-link::after {
  content: "";
  @apply absolute left-1/2 -translate-x-1/2 bottom-1 w-0 h-[2px]
    bg-white/80 transition-all duration-300;
}

.nav-link:hover::after {
  @apply w-3/4;
}

.nav-link-samband {
  @apply px-4 py-3 border border-white text-white hover:bg-white hover:text-black
    transition-all duration-300 rounded-md font-medium tracking-[0.2em];
}


  .footer-link {
    @apply text-sm text-gray-300 hover:text-white transition;
    display: inline-block;
    background-image: linear-gradient(90deg, #fff, #aaa);
    background-size: 0% 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
  }
  .footer-link:hover { background-size: 100% 2px; }

  .icon-btn {
    @apply inline-flex h-9 w-9 items-center justify-center rounded-xl border border-white/10 hover:border-white/30 hover:text-white transition;
  }
  
}

@layer utilities {
  @keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }

  .animate-marquee {
    animation: marquee 20s linear infinite;
  }

.shiny-text {
  color: #b5b5b5a4; /* Adjust this color to change intensity/style */
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
    }
  100% {
    background-position: -100%;
    }
  }

.shiny-text.disabled {
  animation: none;
  }
}

@layer utilities {
  .silk-fill { position: absolute; inset: 0; }
  .silk-fill > canvas {
    position: absolute;
    inset: 0;
    width: 100% !important;
    height: 100% !important;
    display: block;
  }
}