@import "tailwindcss";

@layer base {
  body {
    font-family: 'Pinchik', sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer components {
    
  .nav-logo {
    @apply filter brightness-0 invert;
  }

  .nav-link {
    @apply relative uppercase tracking-[0.2em] text-sm text-white/80 transition-colors duration-200 hover:text-white;
  }

  .nav-link::after {
    content: "";
    @apply absolute left-1/2 -translate-x-1/2 -bottom-2 w-0 h-[2px] bg-white/80 transition-all duration-300;
  }

  .nav-link:hover::after {
    @apply w-full;
  }
}
